*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  /* grid-column-gap: 1em; */
}
.control-panel {
  /* width: 80%; */
  /* margin: 0 auto; */
  /* overflow-y: scroll; */
  /* position: fixed; */
  background-color: salmon;
}

.control-board {
  width: 75%;
  background-color: seagreen;
  margin: 0 auto;
}

.icon-package h3 {
  font-size: 20px;
  font-weight: 700;
}

.icons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.icon {
  border: 1px solid white;
  margin-right: 30px;
  font-size: 30px;
}

.control-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 40px;
  border: 2px solid white;
}
.user-img {
  width: 30px;
  background-color: white;
  padding: 1.5rem;
  border-radius: 50%;
}

.username {
  margin-left: 15px;
  font-weight: 700;
}

.home {
  width: 100%;
  background-color: blue;
}

.home-logo {
  background-color: brown;
  padding: 20px 0;
  padding-left: 10px;
  border-bottom: 1px solid yellow;
  /* position: fixed;
  top: 0;
  width: 38%; */
}

.home-logo h2 {
  font-weight: 700;
}

.send-kai {
  /* margin-top: 66px; */
  background-color: yellow;
}

.send-kai-flex {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.user-img-container {
  width: 12%;
  margin-right: 5px;
}

.send {
  background-color: red;
  padding: 7px 1.5rem;
  border-radius: 100px;
  /* margin-left: 400px; */
  margin-top: 10px;
  outline: none;
}

.kai-card {
  background-color: red;
  padding: 13px 0;
  border-top: 1px solid rgba(172, 255, 47, 0.966);
  border-bottom: 1px solid greenyellow;
  margin-top: 1px;
}

.kai-card-flex {
  width: 95%;
  margin: 0 auto;
  display: flex;
}

.kai-card-flex h3 {
  font-weight: 700;
}
.explore {
  background-color: rgb(118, 163, 35);
}

.top-img {
  height: 200px;
  width: 100%;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  top: -60px;
}

.top-profile-container {
  width: 95%;
  margin: 0 auto;
}

.top-profile-img-edit {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.edit-button {
  background-color: red;
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
  top: 10px;
}

.profile-details {
  position: relative;
  top: -50px;
  /* background-color: red; */
}

.profile-user-name {
  font-weight: 700;
}

.follower-count {
  display: inline-flex;
}

.number {
  margin-right: 10px;
  font-weight: 700;
}
.profile-followers {
  margin-left: 16px;
}

.tabs {
  position: relative;
  top: -20px;
}
